
/*configuração de variáveis para as cores*/
:root{
    --cor-fundo-body : linear-gradient(to right, #b1d7e4 0%, #7f8bb2 100%);
    --cor-header-footer: linear-gradient(to top left,  #9e7e5d 0%, #d7b492 100%);
    --cor-texto: rgb(62, 62, 62);
    --cor-fundo-main: linear-gradient(to top left, #fff5f2 0%, #fadfd6 100%);
    --cor-letra-menu-hover: #d5d3d3;
    --cor-border-tabela: #666699;
    --cor-fundo-tabela-linhas: #b1d7e4;
    --cor-funto-tabela-titulos: #7f8bb2 ;
    --cor-sombra: rgb(68, 65, 65);
    
}

/*eliminar espaçamento antes do header no início da página*/
*{
    margin: 0;
    padding: 0;/*para ajustar enchimento que estava a aparecer no menu*/
   
}

/*configuração do body*/
body{
    width: 100%; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;  /*para centar no ecrã*/
    background: var(--cor-fundo-body);
}

/*configuração do header*/
header{   
    height:150px;
    background: var(--cor-header-footer);
    margin-top: 0px;
}

/*configuração dos h's*/
h1{
    text-align: center;
    padding-top: 33px;
    font-family: 'Orbitron', sans-serif;
    color: var(--cor-texto) ;
    font-size: 5vh;  
}


.h2_localizacao{   
    padding-top: 3vh;  
    font-family: 'Orbitron', sans-serif;
    color: var(--cor-texto);
    text-align: center;    
}

.h2_index{   
    margin-top: 10vh;
    margin-left: 3vh;
    font-size: 3.5vh;
    font-family: 'Orbitron', sans-serif;
    color: var(--cor-texto);    
}

h3{
    margin-top: 9vh;
    margin-left: 15vh;
    font-size: 2.5vh;   
    color: var(--cor-texto);     
}

/* configuração dos p's*/
p{
    text-align: justify;
    padding-top: 3vh;
    font-size: 2vh;
    margin-left:1vh;
    margin-right: 1vh;
    text-indent: 1.5em; /*para deixar avanço de parágrafo*/
}

/*configuração navegação*/
nav{
    position: relative;
    max-width: 1050px;
    max-height: 5vh;
    margin: auto;    
    z-index: 1;
         
}

.dropdown-menu{       
    display: none;
    list-style-type: none;/*para remover marcas da lista*/
    width: 20vh;
    position: relative;   
}

.dropdown-menu li a{    
    display: block;   
    text-decoration: none;/*para remover sublinhado*/
    box-shadow: 0 0 5px var(--cor-sombra);
    font-size: 2vh;  
    color: var(--cor-texto);
    background: var(--cor-header-footer);
    padding: 7px 12px 11px 12px;    
}

.dropdown-menu li:hover{
    filter: grayscale(80%);   
}

.dropdown-menu li a:hover{
    color: var(--cor-letra-menu-hover);   
}

button{      
    text-decoration: none;/*para remover sublinhado*/
    box-shadow: 0 0 5px var(--cor-sombra);
    font-size: 3vh;  
    color: var(--cor-texto);
    background: var(--cor-header-footer);
    padding: 2px 12px 2px 12px;
    border: none;
    margin-top: 2vh;
}

button:hover{    
    filter: grayscale(80%);    
}

.button{
    width: 40px;
    height: 40px;  
}

.button:hover .dropdown-menu{ /*para mostar menu "dropdown-menu"quando se passa ponteiro no botão menu*/
    display: block;      
}

.show {display: block;}

/*configuração de div's*/
.larguradiv{
    width: 1050px;
    margin: auto;
}

.margem_div1{    
    position: relative;
    top: 10vh /*para deixar espaçamento antes do elemento, tem de ser usado com a propriedade position:relative*/
}

.margem_div2{    
    position: relative;
    top: 20vh
}

.margem_div3{    
    position: relative;
    top: 30vh
}

/*configuração de main's*/
.main_esquerda{   
    color: var(--cor-texto); 
    float: left;
    width:45%;            
    height: 50vh;    
    background: var(--cor-fundo-main);
    padding-top: 0;
}

.main_direita{    
    color:  var(--cor-texto); 
    float: right;
    width:45%;            
    height: 50vh;   
    background: var(--cor-fundo-main);    
    padding-top: 0;
}

.main_esquerda:hover{  
    filter:opacity(0.7);
}

.main_direita:hover{
    filter:opacity(0.7);    
}

.posicao_main_fotos{
    position: relative;
    top: 10vh;
    max-width: 1050px;
    margin: auto;
}

.main_sobre{
    position: relative;
    top: 10vh;
    color:  var(--cor-texto); 
    margin: auto;
    max-width:1050px;         
    background: var(--cor-fundo-main);    
    padding-top: 5vh; 
    padding-bottom: 7vh;
}

.main_sobre_localizacao{
    position: relative;
    top: 20vh;
    color:  var(--cor-texto); 
    margin: auto;
    max-width:1050px;              
    height: 50vh;   
    background: var(--cor-fundo-main);    
    padding-top: 0;    
}

/*configuração adide's*/
.aside_direita{
    float: right;   
    width:55%;                               
    height: 50vh;     
}

.aside_esquerda{
    float: left;    
    width:55%;                                
    height: 50vh;
}

.aside_direita:hover{    
    filter:opacity(0.4);
}   

.aside_esquerda:hover{
    filter:opacity(0.4);
}

.imagemaside{    
    margin: 0 auto; /*para centrar imagem de forma automática*/
    height: 50vh;
    max-width: 100%;
}

/*configuração tabela*/
table{    
    box-shadow: 3px 3px 10px 2px var(--cor-funto-tabela-titulos);
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;  
    text-align: center;
    
}
th{
    background-color: var(--cor-funto-tabela-titulos);
    padding: 1%;
    border: 1px solid var(--cor-border-tabela);
}

tr{
    background-color: var(--cor-fundo-tabela-linhas);
    color:var(--cor-texto);
    border: 1px solid var(--cor-border-tabela);
}
td{
    padding: 1%;    
    border: 1px solid var(--cor-border-tabela);
}

.thgrelha{
    border: 1px solid var(--cor-border-tabela);
    border-collapse: collapse;
    /*background-color: lightgray;*/ 
}

/*configuração mapa*/
.mapa{  
    width: 100%;
    height: 40vh;
    position: relative;
    top: 5vh;
    padding-bottom: 5vh;
}

/*configuração footer's*/
footer{
    height:150px;
    background: var(--cor-header-footer);
    clear: both;                          /*fixa rodapé no fundo*/
    width: 100%;                           
    position: relative;
    top: 30vh;
}

.footerfotos{
    height:150px;
    background: var(--cor-header-footer);
    clear: both;                                    
    width: 100%;                            
    position: relative;
    top: 20vh;
}

.indexfooter{
    height:150px;
    background: var(--cor-header-footer);                                      
    width: 100%;                            
    top: 40vh;    
}

/*configuração texto rodapé*/
.rodapetext{    
    padding-top: 6px;
    text-align: center;
    color: var(--cor-texto);

}

.rodapehiperligacao{   
    text-decoration: none;
    font-size: 1.5vh;
}


/*configuração slideshow*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1050px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides2 {
    display: none;
}

.mySlides3 {
    display: none;
}

img {vertical-align: middle;}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background: var(--cor-texto);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--cor-letra-menu-hover);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color:var(--cor-texto);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3.5s;
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

.rodapehiperligacao{
    color: white;
    text-decoration: none;
}

/*Nos ecrãs com 922px ou menos, aplica o seguinte CSS*/ 
@media screen and (max-width: 922px){

    .larguradiv{
        width: 100%;
        margin: auto;
    }           
}


 /* Para ecrãs com 600px ou menos, o css é o seguinte*/
@media screen and (max-width: 600px) 
 {
    h1{    
        font-size: 4vh;
    }

    .main_esquerda{    
        float: left;
        width:100%;      
    }
    
    .main_direita{    
        float: right;
        width:100%;
    }
    
    .aside_direita{
        float: right;        
        width:100%;
    }

    .aside_esquerda{
        float: left;
        width:100%;
    }

    .rodapetext{
       font-size: 1.5vh;
    }    
}
    